name: smart_alert_app
description: Smart Alert System - hospital roster & emergency dispatch with AI assistant
version: 1.0.0+1
publish_to: "none"

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5
  google_fonts: ^6.3.3
  intl: ^0.20.2
  url_launcher: ^6.3.2
  share_plus: ^12.0.1
  path_provider: ^2.1.5
  http: ^1.6.0
  flutter_dotenv: ^6.0.0  
  file_picker: ^10.3.7
  csv: ^6.0.0
  permission_handler: ^12.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  
  assets:
    - .env